# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.zip
dist/
build/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
*~

# Testing & coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/

